.app-header {
  padding: 32.5px 0;
  background-color: rgba(16, 16, 29, 0.9);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  transition: 0.2s;
}
@media only screen and (max-width: 1024px) {
  .app-header {
    padding: 16px 0;
  }
}
.app-header.scrolled {
  transition: 0.2s;
  background-color: #10101D;
}
.app-header .app-header__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app-header .app-header__content .app-header__brand {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.25;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .app-header .app-header__content .app-header__brand {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.35;
  }
}
.app-header .app-header__content .app-header__brand .app-header__brand-blue {
  color: #42A9ED;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  transform-style: preserve-3d;
  perspective: -100px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 100px;
}
.app-header .app-header__content .app-header__brand .app-header__brand-blue > b {
  transform: rotateX(-85deg);
  -webkit-transform-origin: bottom;
  -webkit-transform: rotateX(-85deg);
  animation: getUp 3s infinite;
}
.app-header .app-header__content .app-header__brand .app-header__brand-blue > b:nth-child(2) {
  animation-delay: 0.25s;
}
.app-header .app-header__content .app-header__brand .app-header__brand-blue > b:nth-child(3) {
  animation-delay: 0.5s;
}
@media only screen and (max-width: 576px) {
  .app-header .app-header__content .app-header__nav {
    width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 72px);
    left: 0;
    top: 72px;
    position: absolute;
    background-color: #10101D;
    transition: 0.2s;
    transform: translateX(100%);
  }
}
.app-header .app-header__content .app-header__nav.active {
  transform: translateX(0);
  transition: 0.2s;
}
.app-header .app-header__content .app-header__nav .app-header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 576px) {
  .app-header .app-header__content .app-header__nav .app-header__nav-list {
    flex-direction: column;
    padding-top: 35px;
  }
}
.app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item:not(:last-child) {
  margin-right: 60px;
}
@media only screen and (max-width: 768px) {
  .app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item:not(:last-child) {
    margin-right: 25px;
  }
}
@media only screen and (max-width: 576px) {
  .app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item:not(:last-child) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 576px) {
  .app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item:not(:first-child) {
    margin-top: 15px;
  }
}
.app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item .app-header__nav-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.2307692308;
  display: inline-block;
  position: relative;
}
.app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item .app-header__nav-link::after {
  content: " ";
  width: 100%;
  max-width: 0%;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1.5px;
  background-color: transparent;
  transition: 0.3s;
}
.app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item .app-header__nav-link:hover::after {
  transition: 0.3s;
  background-color: #43ABF0;
  max-width: 100%;
}
.app-header .app-header__content .app-header__nav .app-header__nav-list .app-header__nav-item .app-header__nav-link.app-header__nav-link--active {
  color: #43ABF0;
}
.app-header .app-header__content .app-header__hamburger {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.25s linear;
  width: 25px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  display: none;
}
@media only screen and (max-width: 576px) {
  .app-header .app-header__content .app-header__hamburger {
    display: flex;
  }
}
.app-header .app-header__content .app-header__hamburger:hover {
  opacity: 1;
}
.app-header .app-header__content .app-header__hamburger .app-header__lines,
.app-header .app-header__content .app-header__hamburger .app-header__lines:after,
.app-header .app-header__content .app-header__hamburger .app-header__lines:before {
  background-color: #3E9CDC;
  border-radius: 10px;
  width: 100%;
  height: 2px;
  transition: all 0.15s linear;
}
.app-header .app-header__content .app-header__hamburger .app-header__lines:before,
.app-header .app-header__content .app-header__hamburger .app-header__lines:after {
  content: "";
  position: absolute;
}
.app-header .app-header__content .app-header__hamburger .app-header__lines:before {
  transform: translateY(-200%);
}
.app-header .app-header__content .app-header__hamburger .app-header__lines:after {
  transform: translateY(200%);
}
.app-header .app-header__content .app-header__hamburger.open .app-header__lines {
  background: transparent;
}
.app-header .app-header__content .app-header__hamburger.open .app-header__lines:before {
  transform: rotate(45deg);
}
.app-header .app-header__content .app-header__hamburger.open .app-header__lines:after {
  transform: rotate(-45deg);
}

.hero-section {
  min-height: 850px;
  background: url(../images/uploads/heroSectionbackground.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  padding-top: 203px;
}
@media only screen and (max-width: 1024px) {
  .hero-section {
    min-height: 600px;
    padding-top: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section {
    min-height: 480px;
    padding-top: 120px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section {
    background-position: right top;
  }
}
.hero-section .hero-section__descriptions {
  max-width: 780px;
  width: 100%;
}
@media only screen and (max-width: 576px) {
  .hero-section .hero-section__descriptions {
    max-width: 300px;
  }
}
.hero-section .hero-section__descriptions .hero-section__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2083333333;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .hero-section .hero-section__descriptions .hero-section__title {
    font-size: 2.1875rem;
    font-weight: 700;
    line-height: 1.2857142857;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section .hero-section__descriptions .hero-section__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5555555556;
  }
}
.hero-section .hero-section__descriptions .hero-section__title .hero-section__title--blue {
  color: #42A9ED;
  font-weight: 800;
}
.hero-section .hero-section__descriptions .hero-section__list {
  margin-top: 80px;
}
@media only screen and (max-width: 1024px) {
  .hero-section .hero-section__descriptions .hero-section__list {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section .hero-section__descriptions .hero-section__list {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 576px) {
  .hero-section .hero-section__descriptions .hero-section__list {
    margin-top: 20px;
  }
}
.hero-section .hero-section__descriptions .hero-section__list .hero-section__list--title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .hero-section .hero-section__descriptions .hero-section__list .hero-section__list--title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
  }
}
.hero-section .hero-section__descriptions .hero-section__list .hero-section__list--modifier {
  margin-top: 10px;
}
.hero-section .hero-section__descriptions .hero-section__list .hero-section__list--modifier .hero-section__list-item {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  padding-left: 25px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .hero-section .hero-section__descriptions .hero-section__list .hero-section__list--modifier .hero-section__list-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
  }
}
.hero-section .hero-section__descriptions .hero-section__list .hero-section__list--modifier .hero-section__list-item::after {
  content: " ";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='25' height='22' viewBox='0 0 25 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 10.245H14.94V11.755H10V10.245Z' fill='black'/%3E%3C/svg%3E");
  width: 25px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero-section .hero-section__descriptions .hero-section__list .hero-section__list--modifier .hero-section__list-item:not(:first-child) {
  margin-top: 5px;
}
.hero-section .hero-section__descriptions .hero-section__actions {
  max-width: 396px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
@media only screen and (max-width: 1024px) {
  .hero-section .hero-section__descriptions .hero-section__actions {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section .hero-section__descriptions .hero-section__actions {
    margin-top: 30px;
  }
}
.hero-section .hero-section__descriptions .hero-section__actions .hero-section__actions--btn {
  max-width: 183px;
  width: 100%;
  padding: 14px 10px;
  border-radius: 4px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .hero-section .hero-section__descriptions .hero-section__actions .hero-section__actions--btn {
    max-width: 140px;
    padding: 10px 6px;
  }
}

.order-section {
  padding: 121px 0 150px 0;
  background: url(../images/uploads/order_section.png) no-repeat center center;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .order-section {
    padding: 100px 0;
  }
}
@media only screen and (max-width: 576px) {
  .order-section {
    padding: 50px 0;
  }
}
.order-section.inViewPort .order-section__order-way .order-section__order-way-item .icon {
  animation: shadow-animation 0.5s ease-in 1;
}
.order-section.inViewPort .order-section__order-way .order-section__order-way-item:nth-child(1) .icon {
  animation-delay: 0.5s;
}
.order-section.inViewPort .order-section__order-way .order-section__order-way-item:nth-child(2) .icon {
  animation-delay: 1s;
}
.order-section.inViewPort .order-section__order-way .order-section__order-way-item:nth-child(3) .icon {
  animation-delay: 1.5s;
}
.order-section.inViewPort .order-section__order-way .order-section__order-way-item:nth-child(4) .icon {
  animation-delay: 2s;
}
.order-section.inViewPort .order-section__order-way .order-section__order-way-item:nth-child(5) .icon {
  animation-delay: 2.5s;
}
.order-section .order-section__headline {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.1111111111;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}
.order-section .order-section__headline .order-section__headline--blue {
  color: #42A9ED;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__headline {
    font-size: 1.5625rem;
    font-weight: 800;
    line-height: 1.16;
  }
}
.order-section .order-section__subHeadline {
  text-align: center;
  color: #BBBBBB;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__subHeadline {
    margin-top: 15px;
  }
}
.order-section .order-section__order-way {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 80px -15px 0 -15px;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__order-way {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .order-section .order-section__order-way {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 440px) {
  .order-section .order-section__order-way {
    max-width: 320px;
  }
}
.order-section .order-section__order-way .order-section__order-way-item {
  max-width: 20%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__order-way .order-section__order-way-item {
    max-width: 50%;
    flex-direction: column;
    align-items: center;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(2)::after {
    transform: rotate(90deg) translateX(-50%);
    right: auto;
    top: auto;
    width: 60px;
    bottom: 10px;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(3) {
    order: 4;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(3)::after {
    content: none;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(4) {
    order: 3;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(4)::before {
    transform: rotate(90deg) translateX(-50%);
    left: auto;
    top: auto;
    width: 60px;
    bottom: 10px;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(5) {
    order: 5;
  }
  .order-section .order-section__order-way .order-section__order-way-item:nth-child(5)::before {
    content: none;
  }
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__order-way .order-section__order-way-item:not(:last-child) {
    padding-bottom: 85px;
  }
}
.order-section .order-section__order-way .order-section__order-way-item::after, .order-section .order-section__order-way .order-section__order-way-item:before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='110' height='6' viewBox='0 0 110 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Group 8'%3E%3Ccircle id='Ellipse 4' cx='81' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle id='Ellipse 8' cx='107' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle id='Ellipse 5' cx='55' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle id='Ellipse 6' cx='29' cy='3' r='3' fill='%23C4C4C4'/%3E%3Ccircle id='Ellipse 7' cx='3' cy='3' r='3' fill='%23C4C4C4'/%3E%3C/g%3E%3C/svg%3E");
  width: 110px;
  height: 6px;
  position: absolute;
  top: 47px;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__order-way .order-section__order-way-item::after, .order-section .order-section__order-way .order-section__order-way-item:before {
    top: 37px;
  }
}
@media only screen and (max-width: 576px) {
  .order-section .order-section__order-way .order-section__order-way-item::after, .order-section .order-section__order-way .order-section__order-way-item:before {
    width: 84px;
  }
}
.order-section .order-section__order-way .order-section__order-way-item::after {
  right: 0px;
}
.order-section .order-section__order-way .order-section__order-way-item::before {
  left: -6px;
}
.order-section .order-section__order-way .order-section__order-way-item:last-child::after {
  content: none;
}
.order-section .order-section__order-way .order-section__order-way-item:first-child::before {
  content: none;
}
.order-section .order-section__order-way .order-section__order-way-item .order-section__order-way-item--description {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #FFFFFF;
  padding: 0 11px;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__order-way .order-section__order-way-item .order-section__order-way-item--description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    padding: 0;
  }
}
.order-section .order-section__order-way .order-section__order-way-item .icon {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg width='101' height='100' viewBox='0 0 101 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50.5' cy='50' r='47.5' fill='%233E9CDC' stroke='%23286690' stroke-width='5'/%3E%3C/svg%3E") no-repeat center center;
  background-size: cover;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 0 0px 0px rgba(40, 102, 144, 0.5);
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__order-way .order-section__order-way-item .icon {
    width: 80px;
    height: 80px;
  }
}
.order-section .order-section__order-way .order-section__order-way-item .icon:hover {
  box-shadow: 0 0 10px 5px rgba(40, 102, 144, 0.5);
  transform: scale(1.03);
}
.order-section .order-section__order-way .order-section__order-way-item .icon:hover svg {
  transform: scale(1.2) rotate(-25deg);
  transition: 0.3s;
}
.order-section .order-section__order-way .order-section__order-way-item .icon svg {
  width: 55px;
  height: 55px;
  transition: 0.3s;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__order-way .order-section__order-way-item .icon svg {
    width: 35px;
    height: 35px;
  }
}
.order-section .order-section__form {
  margin-top: 80px;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__form {
    margin-top: 50px;
  }
}
.order-section .order-section__form .order-section__form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: -15px;
}
@media only screen and (max-width: 576px) {
  .order-section .order-section__form .order-section__form-content {
    margin: -7.5px;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field {
  max-width: 33.333%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field {
    max-width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field {
    max-width: 100%;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-range {
  max-width: 66.6666%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-range {
    max-width: 100%;
    order: 5;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-range__input {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
.order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-range__input::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.7);
  height: 6px;
  border-radius: 16px;
  border: 1px solid #FFFFFF;
}
.order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-range__input::-moz-range-track {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: 1px solid #FFFFFF;
  height: 6px;
}
.order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #42a9ed;
  margin-top: -13.5px;
  width: 27px;
  height: 27px;
  cursor: grab;
  border-radius: 50%;
  border: 2px solid #286690;
}
.order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-range__input::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #42a9ed;
  margin-top: -13.5px;
  width: 27px;
  height: 27px;
  cursor: grab;
  border-radius: 50%;
  border: 2px solid #286690;
}
.order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2222222222;
  color: #FFFFFF;
}
@media only screen and (max-width: 576px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-range .order-section__form-label {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2857142857;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content {
  padding: 15px;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content {
    padding: 7.5px;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-file {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-file__label {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #3E9CDC;
  background: #FFFFFF;
  cursor: pointer;
  color: #272733;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-file__label .order-section__form-file__label--text {
  position: relative;
  display: inline-block;
  padding-left: 27px;
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-file__label .order-section__form-file__label--text::after {
  content: " ";
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 21px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8125 4.60899L13.3304 1.12685C12.9174 0.713902 12.0915 0.36792 11.5 0.36792H1.50002C0.9085 0.36792 0.428589 0.847831 0.428589 1.43935V19.2965C0.428589 19.888 0.9085 20.3679 1.50002 20.3679H16.5C17.0915 20.3679 17.5714 19.888 17.5714 19.2965V6.43935C17.5714 5.84783 17.2255 5.02194 16.8125 4.60899ZM11.8572 1.88578C12.0469 1.95274 12.2366 2.05319 12.3148 2.13131L15.8081 5.62462C15.8862 5.70274 15.9866 5.89247 16.0536 6.08221H11.8572V1.88578ZM16.1429 18.9394H1.85716V1.79649H10.4286V6.43935C10.4286 7.03087 10.9085 7.51078 11.5 7.51078H16.1429V18.9394ZM4.7143 9.29649V10.0108C4.7143 10.2117 4.87055 10.3679 5.07145 10.3679H12.9286C13.1295 10.3679 13.2857 10.2117 13.2857 10.0108V9.29649C13.2857 9.0956 13.1295 8.93935 12.9286 8.93935H5.07145C4.87055 8.93935 4.7143 9.0956 4.7143 9.29649ZM12.9286 11.7965H5.07145C4.87055 11.7965 4.7143 11.9527 4.7143 12.1536V12.8679C4.7143 13.0688 4.87055 13.2251 5.07145 13.2251H12.9286C13.1295 13.2251 13.2857 13.0688 13.2857 12.8679V12.1536C13.2857 11.9527 13.1295 11.7965 12.9286 11.7965ZM12.9286 14.6536H5.07145C4.87055 14.6536 4.7143 14.8099 4.7143 15.0108V15.7251C4.7143 15.926 4.87055 16.0822 5.07145 16.0822H12.9286C13.1295 16.0822 13.2857 15.926 13.2857 15.7251V15.0108C13.2857 14.8099 13.1295 14.6536 12.9286 14.6536Z' fill='%23272733'/%3E%3C/svg%3E");
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 11px 34px 11px 9px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
  outline: none;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.85);
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-webkit-input-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-webkit-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-moz-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input:-ms-input-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input:-ms-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-ms-input-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-ms-input-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-moz-placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
}
.order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::placeholder {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::-moz-placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
  .order-section .order-section__form .order-section__form-content .order-section__form-field__content .order-section__form-input::placeholder {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-trigger {
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.85);
  padding: 11px 35px 11px 9px;
  cursor: pointer;
  position: relative;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-trigger::after {
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9337 8.51079C14.9337 8.43936 14.898 8.359 14.8445 8.30543L14.398 7.859C14.3445 7.80543 14.2641 7.76971 14.1927 7.76971C14.1212 7.76971 14.0409 7.80543 13.9873 7.859L10.4784 11.3679L6.96946 7.859C6.91589 7.80543 6.83553 7.76971 6.7641 7.76971C6.68375 7.76971 6.61232 7.80543 6.55875 7.859L6.11232 8.30543C6.05875 8.359 6.02303 8.43936 6.02303 8.51079C6.02303 8.58221 6.05875 8.66257 6.11232 8.71614L10.273 12.8769C10.3266 12.9304 10.407 12.9661 10.4784 12.9661C10.5498 12.9661 10.6302 12.9304 10.6837 12.8769L14.8445 8.71614C14.898 8.66257 14.9337 8.58221 14.9337 8.51079Z' fill='black'/%3E%3C/svg%3E");
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-trigger .order-section__custom-select-trigger-text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #272733;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 992px) {
  .order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-trigger .order-section__custom-select-trigger-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375;
  }
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options {
  max-height: 0px;
  overflow: hidden;
  transition: 0.1s;
  position: absolute;
  top: 47px;
  width: 100%;
  max-width: calc(100% - 30px);
  border-radius: 0 0 3px 3px;
  border: 0;
  border-top: 0;
  background: rgb(39, 39, 51);
  z-index: 2;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options::-webkit-scrollbar {
  width: 15px;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options::-webkit-scrollbar-track, .order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options::-webkit-scrollbar-thumb {
  border-radius: 16px;
  border: solid 4px transparent;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 5px #3d4050;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px #3e9cdc;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options .order-section__custom-select-option {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8888888889;
  color: #FFFFFF;
  transition: 0.1s;
  cursor: pointer;
  padding: 2px 9px;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select .order-section__custom-select-options .order-section__custom-select-option:hover {
  color: #42A9ED;
  transition: 0.1s;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select.active .order-section__custom-select-trigger {
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #3d4050;
  border-bottom: 0;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select.active .order-section__custom-select-trigger .order-section__custom-select-trigger-text {
  color: #FFFFFF;
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select.active .order-section__custom-select-trigger::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9337 12.3485C14.9337 12.4199 14.898 12.5003 14.8444 12.5538L14.398 13.0003C14.3444 13.0538 14.2641 13.0895 14.1927 13.0895C14.1212 13.0895 14.0409 13.0538 13.9873 13.0003L10.4784 9.49132L6.96944 13.0003C6.91587 13.0538 6.83551 13.0895 6.76408 13.0895C6.68372 13.0895 6.6123 13.0538 6.55872 13.0003L6.1123 12.5538C6.05872 12.5003 6.02301 12.4199 6.02301 12.3485C6.02301 12.277 6.05872 12.1967 6.1123 12.1431L10.273 7.9824C10.3266 7.92882 10.4069 7.89311 10.4784 7.89311C10.5498 7.89311 10.6302 7.92882 10.6837 7.9824L14.8444 12.1431C14.898 12.1967 14.9337 12.277 14.9337 12.3485Z' fill='white'/%3E%3C/svg%3E");
}
.order-section .order-section__form .order-section__form-content .order-section__custom-select.active .order-section__custom-select-options {
  max-height: 180px;
  overflow: auto;
  transition: 0.1s;
  border: 1px solid #3d4050;
}
.order-section .order-section__form .order-section__form-submit {
  width: 100%;
  max-width: 100%;
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.order-section .order-section__form .order-section__form-submit .order-section__form-submit__btn {
  max-width: 370px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 4px;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.0666666667;
}

.app-footer {
  padding: 30px 0;
  background-color: #3D4050;
}
@media only screen and (max-width: 1024px) {
  .app-footer {
    padding: 16px 0;
  }
}
.app-footer .app-footer__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .app-footer .app-footer__content {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .app-footer .app-footer__content {
    flex-direction: column;
    row-gap: 10px;
  }
}
.app-footer .app-footer__content .app-footer__copyright {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #FFFFFF;
  padding-right: 41px;
  margin-right: 40px;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .app-footer .app-footer__content .app-footer__copyright {
    padding-right: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .app-footer .app-footer__content .app-footer__copyright {
    width: 100%;
    max-width: 100%;
    order: 3;
    padding-right: 0px;
    margin-right: 0px;
    text-align: center;
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .app-footer .app-footer__content .app-footer__copyright {
    margin-top: 0px;
  }
}
.app-footer .app-footer__content .app-footer__copyright::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #C3C3C3;
}
@media only screen and (max-width: 1024px) {
  .app-footer .app-footer__content .app-footer__copyright::after {
    content: none;
  }
}
.app-footer .app-footer__content .app-footer__action-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
  .app-footer .app-footer__content .app-footer__action-group {
    justify-content: center;
  }
}
.app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item:not(:last-child) {
  margin-right: 38px;
}
@media only screen and (max-width: 1200px) {
  .app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item:not(:last-child) {
    margin-right: 28px;
  }
}
.app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item * {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5384615385;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media only screen and (max-width: 1200px) {
  .app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item * {
    gap: 5px;
  }
}
.app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item .app-footer__button {
  color: #C3C3C3;
}
.app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item .app-footer__link {
  color: #FFFFFF;
  text-decoration: none;
}
.app-footer .app-footer__content .app-footer__action-group .app-footer__action-group-item .icon {
  width: 20px;
  height: 20px;
}
.app-footer .app-footer__content .app-footer__action-group.app-footer__button-group {
  padding-right: 43px;
  margin-right: 35px;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .app-footer .app-footer__content .app-footer__action-group.app-footer__button-group {
    padding-right: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .app-footer .app-footer__content .app-footer__action-group.app-footer__button-group {
    padding-right: 0px;
    margin-right: 0px;
  }
}
.app-footer .app-footer__content .app-footer__action-group.app-footer__button-group::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #C3C3C3;
}
@media only screen and (max-width: 768px) {
  .app-footer .app-footer__content .app-footer__action-group.app-footer__button-group::after {
    content: none;
  }
}
@keyframes getUp {
  10%, 50% {
    transform: rotateX(0);
  }
  0%, 60%, 100% {
    transform: rotateX(85deg);
  }
}
@keyframes shadow-animation {
  0% {
    box-shadow: 0 0 0px 0px rgba(40, 102, 144, 0.5);
    transform: scale(0.8);
  }
  50% {
    box-shadow: 0 0 5px 2.5px rgba(40, 102, 144, 0.5);
    transform: scale(1.1) rotate(-25deg);
  }
  75% {
    box-shadow: 0 0 10px 5px rgba(40, 102, 144, 0.5);
    transform: scale(1.1) rotate(-25deg);
  }
  100% {
    box-shadow: 0 0 0px 0px rgba(40, 102, 144, 0.5);
    transform: scale(1) rotate(0deg);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #42A9ED;
}

body {
  font-family: "Lato", sans-serif;
}
body.hidden {
  overflow: hidden;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.buttonNulled {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
}

.primary-btn {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #3E9CDC;
  position: relative;
  transition: 0.2s;
  z-index: 2;
  overflow: hidden;
}
.primary-btn:after, .primary-btn::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #FFFFFF;
  transition: 0.2s;
  z-index: -1;
}
.primary-btn:after {
  top: 0;
}
.primary-btn::before {
  bottom: 0;
}
.primary-btn:hover {
  border-color: #42A9ED;
  color: #42A9ED;
}
.primary-btn:hover:after, .primary-btn:hover::before {
  height: 51%;
}

.secondary-btn {
  border: 1px solid #6F6D7B;
  color: #2A2B30;
  background-color: #FFFFFF;
  position: relative;
  transition: 0.2s;
  z-index: 2;
  overflow: hidden;
}
.secondary-btn:after, .secondary-btn::before {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #2A2B30;
  transition: 0.2s;
  z-index: -1;
}
.secondary-btn:after {
  top: 0;
}
.secondary-btn::before {
  bottom: 0;
}
.secondary-btn:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.secondary-btn:hover:after, .secondary-btn:hover::before {
  height: 51%;
}/*# sourceMappingURL=global.css.map */