$lightBlack:  #10101DE5;
$hardBlack: #10101D;
$textBlue: #42A9ED;
$white: #FFFFFF;
$black: #000000;
$linkActive:#43ABF0;
$buttonBlue:#3E9CDC;
$borderGray: #6F6D7B;
$hardBlue: #2A2B30;
$deepGray:#BBBBBB;
$textDeepBlue: #272733;
$footerBg: #3D4050;
$silver: #C3C3C3;